.box {
    height: 70px;
    width: 70px;
    border: 3px solid black;
    border-radius: 5px;
    position: relative;
    top: 10px;
    left: 10px;
    background-color: lightblue;
     
    animation-name: ghumakkad;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
@keyframes ghumakkad {
    from {left: 10px;}
    to {left: 200px;}
}

.two {
    height: 70px;
    width: 70px;
    border: 3px solid black;
    border-radius: 5px;
    position: relative;
    top: 10px;
    left: 10px;
    background-color: lightblue;

    animation: sec_box 2s ease-in-out 1s infinite alternate;
}

@keyframes sec_box {
    0% {left: 10px;}
    50% {left: 50px;}
    60% {left: 160px;}
    100% {left: 200px;}
}