/* In visibility: hidden; property element only will hidden not will remove, visibility: collapse also worl like visibility:hidden. */

.box {
    height: 50px;
    width: 50px;
}

#box1 {
    background-color: darkseagreen;
    visibility: hidden;
}
#box2 {
    background-color: darksalmon;
}