* {
    margin: 0;
    padding: 0;
}

.box {
    text-align: center;
    border: 3px solid yellowgreen;
    height: 70px;
    width: 70px;
    
    background-color: yellow;
    margin: 5px;
}
#first {
    position: static;
}
#second {
    position: relative;
    top: 10px;
    left: 50px;
}
#third {
    position: absolute;
    top: 20px;
}
#fourth {
    position: fixed;
    left: 70px;
}
