#practice4 {
    background-color: darkseagreen;
    height: 200px;
    width: 200px;

}

/* first padding is for top & bottom & second padding indicates the padding of left and right. */
button {
    height: 70px;
    width: 70px;
    background-color: burlywood;
    padding: 10px 15px;
    margin: 100px;
    border: 3px dotted red;
    border-radius: 35px;
}

.div {
    padding: 10px;
    margin: 20px;
    height: 100px;
    width: 100px;
}

#first {
    background-color: rgb(208, 230, 169);
    box-sizing: content-box;
    border: 5px solid green;
}


#second {
    background-color: rgb(211, 157, 211);
    box-sizing: border-box;
    border: 5px solid magenta;
}