

.border {
    height: 70px;
    width: 70px;
    padding: 10px;
    margin: 10px;
}

#first {
    background-color: mediumorchid;
    border: 2px solid;
}

#second {
    background-color: darksalmon;
    border: 5px double dodgerblue;
}