.box {
    height: 70px;
    width: 70px;
    padding: 10px;
    margin: 20px;
}

#box1 {
    background-color: azure;
    border: 5px solid orange;
    box-sizing: border-box;
}

#box2 {
    background-color: lavender;
    border: 5px solid;
    box-sizing: content-box;
}