* {
    margin: 0px;
    padding: 0px;
}

#padded {
    background-color: darkgray;
    height: 50px;
    width: 50px;
    padding: 5px 10px 15px 19px;
}

/* Single padding will apply all sides of elemnet. */
#padded2 {
    background-color: darkseagreen;
    height: 50px;
    width: 50px;
    padding: 20px;
}