* {
    margin: 0;
    padding: 0;
}

#first {
    background-color: cadetblue;
    height: 100px;
    width: 200px;
}

#second {
    background-color: yellowgreen;
    width: 50%;
    height: 60%;
}