* {
    margin: 0;
    padding: 0;
}
.box {
    height: 100px;
    width: 100px;
    border: 3px solid;
    margin: 5px;
    text-align: center;
    background-color: darkorange;
}
h1 {
    text-align: center;
}
#container {
    background-color: greenyellow;
    height: 600px;
    width: 600px;
    padding: 10px;
    margin: 20px;
    border: 3px solid;

    display: flex;
    /* values of flex-direction can be row, row-reverse, column, column-reverse ("raw" is a default value) */
    flex-direction: row-reverse;
}